.portfolio-hero__inner {
  padding-bottom: 462px;
  width: 100%;
  max-width: 1160px;
  height: 362px;
  background-image: url("../images/Portfolio/portfolio-hero-bgi.webp");
  background-repeat: no-repeat;
  background-position: top 176px center;
}

.portfolio-hero__title {
  margin: 0;
  font-weight: 600;
  font-size: 46px;
  line-height: 63px;
  color: #424242;
}
