.rooms {
  position: relative;
  background-image: url("../images/Portfolio/living-room.webp");
  background-repeat: no-repeat;
  background-position: calc(50%) calc(50% - 620px);
}

.rooms__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.rooms__box {
  margin-bottom: 140px;
  background-image: url("../images/Portfolio/stairs.webp"),
    url("../images/Portfolio/lamp.webp");
  background-repeat: no-repeat;
  background-position: top left, top left 300px;
}

.rooms-list__item + .rooms-list__item {
  margin-top: 10px;
}

.rooms-list__item {
  margin-left: auto;
  width: 100%;
  max-width: 560px;
}

.rooms__item {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #424242;
}

.rooms__box--one {
  background-image: url("../images/Portfolio/rooms-lamp.webp");
  background-repeat: no-repeat;
  background-position: top right;
}

.rooms__box-content {
  width: 100%;
  max-width: 860px;
}

.rooms__title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 46px;
  line-height: 63px;
  color: #424242;
}

.rooms__text {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #424242;
}

.rooms__text--one {
  margin-bottom: 50px;
  height: 189px;
  padding-left: 300px;
  background-image: url("../images/Portfolio/rooms.webp");
  background-repeat: no-repeat;
  background-position: top 5px left;
}

.text-room {
  margin-bottom: 10px;
}

.bg-image {
  padding-top: 870px;
}

.rooms__box-two {
  margin-bottom: 60px;
  background-image: url("../images/Portfolio/living-rooms.webp");
  background-repeat: no-repeat;
}

.rooms__box--two {
  padding: 55px 0;
  width: 100%;
  max-width: 560px;
  margin-left: auto;
}

.months-list {
  position: relative;
  margin-bottom: 50px;
}

.months-item {
  width: 100%;
  max-width: 360px;
  text-align: center;
  border-top: 1px solid #503d2b;
}

.months-item::before {
  position: absolute;
  top: -10px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../images/Portfolio/circle.svg");
  background-repeat: no-repeat;
  content: "";
}

.rooms__box--three {
  padding: 130px 100px;
  text-align: center;
  background-color: #aea38b;
}

.rooms__box--i {
  display: inline-block;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  color: #ffffff;
}

.rooms__list-content-box {
  margin-top: 40px;
  background-image: url("../images/Portfolio/room-l.webp"),
    url("../images/Portfolio/room-w.webp");
  background-repeat: no-repeat;
  background-position: top left, top 122px left 300px;
}

.rooms__list--content {
  width: 100%;
  max-width: 560px;
  margin-left: auto;
  margin-bottom: 120px;
}

.rooms__item + .rooms__item {
  margin-top: 10px;
}

.rooms__list-content-box-k {
  margin-bottom: 47px;
  background-image: url("../images/Portfolio/kitchen.webp");
  background-repeat: no-repeat;
  background-position: top 20px right;
}

.kit {
  margin: 0;
}

.rooms__box--four {
   margin-bottom: 120px;
   background-image: url("../images/Portfolio/room-k.webp");
   background-repeat: no-repeat;
}

.rooms__box-p {
  margin-top: 50px;
  padding: 63px 0;
  width: 100%;
  max-width: 760px;
  margin-left: auto;
}
