.public__inner {
    margin-top: 80px;
    margin-bottom: 140px;
}

.public__title {
    margin: 0px;
    font-weight: 600;
    font-size: 46px;
    line-height: 63px;
    color: #424242;
}

.public__img {
    margin-top: 100px;
}

.public__content {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.text__content {
    width: 100%;
    max-width: 450px;
}

.public__text {
    margin: 0px;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #424242;
}

.public__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.bottom__content {
    width: 100%;
    max-width: 360px;
}

.bottom__span {
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    color: #424242;
}

.bottom__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #424242;
}
.quote-content{
    background: #AEA38B;
    padding: 135px 0px;
}
.quote__text{
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
    font-weight: 600;
    font-size: 28px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
}