.dom__inner{
    margin-top: 20px;
    margin-bottom: 100px;
  }
  .title{
    margin-bottom: 60px;

  }
  .dom__card{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 40px;
    flex-wrap: wrap;
  }
  .site_form{
    padding: 120px 0px 142px;
    background: #AEA38B;
  }
  .label__text{
    display: block;
    margin: 0;
    font-weight: 600;
    font-size: 46px;
    line-height: 63px;
    color: #FFFFFF;
  }
  .label_mintext{
    display: block;
    margin-top: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
  }
  .submit{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;

  }
  .form__input{
    padding: 18px 0px 18px 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    background-color: transparent;
    border: 2px solid white;

  }
  .btn{
    padding: 18px 80px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    background: #D8B152;
    border: transparent;
  }
@media only screen and(max-width:768px) {
  .dom__inner{
    margin-top: 10px;
  }
}