// Index page Akbar
@import "real-estate";
@import "our-services";
@import "joining";
// Index page Akbar
// Awards page Dilshod
@import "awards/our-awards";
// Publication page Dilshod
@import "publication/publication";
// Portfolio page Dilshod
@import "portfolio/portfolio-hero";
@import "portfolio/months";

// Media page Akbar
@import "media/media-hero";
// Media page Akbar

@import "review/client-review";

@import "footer";